<!-- <div class="login-form">
  <form  [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onSubmit()">
      <h2 class="text-center">Log in</h2>       
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" formControlName="managerMailAddress"
          [(ngModel)]="loginModel.managerMailAddress" [formGroup]="loginForm" [ngClass]="{ 'is-invalid': submitted && f.managerMailAddress.errors }" required>
          <div *ngIf="submitted && f.managerMailAddress.errors"></div>
        </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" formControlName="managerPassword"
          [(ngModel)]="loginModel.managerPassword" [formGroup]="loginForm" [ngClass]="{ 'is-invalid': submitted && f.managerPassword.errors }" required>
          <div *ngIf="submitted && f.managerPassword.errors" ></div>
    </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </div>
      <div class="clearfix">
          <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
          <a routerLink="/managersignup" class="float-right" >Create an Account</a>
      </div>        
  </form>
</div> -->

<div class="container">
  <div class="row form-group mt-5 pt-5 c">
    <div class="col-md-2"></div>
    <div class="col-md-8" style=" box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">
      <div class="row form-group">
        <div class="col-md-4 mt-3">
          <img
            src="https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="..."
            class="img-fluid" style="height: 100%;"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <form  [formGroup]="loginForm" autocomplete="off" (ngSubmit)="onSubmit()">
            <h5 class="card-title" style="text-align: center;">Login</h5>
            <hr>
            <div class="row form-group">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username" formControlName="managerMailAddress"
                  [(ngModel)]="loginModel.managerMailAddress" [formGroup]="loginForm" [ngClass]="{ 'is-invalid': submitted && f.managerMailAddress.errors }" required>
                  <div *ngIf="submitted && f.managerMailAddress.errors"></div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" formControlName="managerPassword"
                  [(ngModel)]="loginModel.managerPassword" [formGroup]="loginForm" [ngClass]="{ 'is-invalid': submitted && f.managerPassword.errors }" required>
                  <div *ngIf="submitted && f.managerPassword.errors" ></div>
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Log in</button>
              </div>
              <div class="clearfix w-100 text-center">
                  <a routerLink="/managersignup" >Create an Account</a>
              </div>    
              </div>
              <div class="col-md-2"></div>
            </div>
        </form> 
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
  